<h2> Stations </h2>

<% @stations_facade.stations.each do |station| %>
Station Name: <%= station.name %> <br>
Station Address: <%= station.address %><br>
Station Fuel Type: <%= station.fuel_type %><br>
Station Access Time: <%= station.atime %><br>
Station Distance: <%= station.distance %><br> miles
<br>
<br>
<% end %>
